.DS_Store
/.mirage.container

src/static*.ml*
src/.mirage.config
src/Makefile
src/_build/
src/key_gen.ml
src/main.ml
src/mirage-unikernel-*.opam
src/myocamlbuild.ml
src/decksopenmirageorg.x*
src/decksopenmirageorg_libvirt.xml


