.DS_Store
/.mirage.container
/src/.mirage.config
/src/Makefile
/src/_build/
/src/decksopenmirageorg
/src/decksopenmirageorg.x*
/src/decksopenmirageorg_libvirt.xml
/src/key_gen.ml
/src/main.ml
/src/main.native
/src/mirage-unikernel-*.opam
/src/myocamlbuild.ml
/src/static*.ml*
/src/tar_*.img
