@font-face {
  font-family: PT Sans;
  font-style: normal;
  font-weight: 400;
  src: local(PT Sans), local(PTSans-Regular),
       url(horizon-fonts/PTS55F-webfont.ttf) format("truetype");
}
@font-face {
  font-family: PT Sans;
  font-style: normal;
  font-weight: 700;
  src: local(PT Sans Bold), local(PTSans-Bold),
       url(horizon-fonts/PTS75F-webfont.ttf) format("truetype");
}
@font-face {
  font-family: PT Sans;
  font-style: italic;
  font-weight: 400;
  src: local(PT Sans Italic), local(PTSans-Italic),
       url(horizon-fonts/PTS56F-webfont.ttf) format("truetype");
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 700;
  src: local(PT Sans Bold Italic), local(PTSans-BoldItalic),
       url(horizon-fonts/PTS76F-webfont.ttf) format("truetype");
}
@font-face {
  font-family: PT Sans Narrow;
  font-style: normal;
  font-weight: 400;
  src: local(PT Sans Narrow), local(PTSans-Narrow),
       url(horizon-fonts/PTN57F-webfont.ttf) format("truetype");
}
@font-face {
  font-family: PT Sans Narrow;
  font-style: normal;
  font-weight: 700;
  src: local(PT Sans Narrow Bold), local(PTSans-NarrowBold),
       url(horizon-fonts/PTN77F-webfont.ttf) format("truetype");
}
